[United Earth Space Probe Agency]: UESPA.md (United Earth Space Probe Agency)
[SS Nightingale (UES 9016)]: Nightingale.md (SS Nightingale (UES 9016))
[Endeavour (NX-06)]: Endeavour.md (Endeavour (NX-06))
[Fleet Modernization Program]: FleetModernization.md (Fleet Modernization Program)
[Admiral Rafael Douglas]: AdmiralDouglas.md (Admiral Rafael Douglas)
[Starfleet Command]: StarfleetCommand.md (Starfleet Command)
[Galorndon Core]: GalorndonCore.md (Galorndon Core)
[Romulan Star Empire]: RomulanStarEmpire.md (Romulan Star Empire)
[Timeline]: Timeline.md (Timeline)
