[Galorndon Core]: GalorndonCore.md (Galorndon Core)
[SS Nightingale (UES 9016)]: Nightingale.md (SS Nightingale (UES 9016))
[Endeavour (NX-06)]: Endeavour.md (Endeavour (NX-06))
[Romulan Star Empire]: RomulanStarEmpire.md (Romulan Star Empire)
[Admiral Rafael Douglas]: AdmiralDouglas.md (Admiral Rafael Douglas)
[Timeline]: Timeline.md (Timeline)
